#pageHeading{
    color: purple;
    background-color: white;
    text-align: center;
}
body{
   background-image: url(../images/Tower.png)
}

p{
    background-color: white;
}
#correctLetters{
    text-align: center;
}